/*Haush Co. /style.css */

body {
    background-color: #000a13;
    font-family: 'Helvetica Neue';
    margin: 0px;
    zoom: 90%;
}
a{
    color: white;
    text-decoration: none;
}
#top-banner {
    background:white;
    color: #171717;
    text-shadow: 0px 1px 1px #0f0f0f;
    padding-top: 100px;
    padding-bottom: 100px;
}
#logo-title {
    text-align: center;
    font-size: 100px;
    color: #00182c;
    padding: 20px;
    text-shadow: rgba(245,245,245,0.498039) 5px 0 0px, rgba(245,245,245,0.498039) -5px 0 0px, rgba(245,245,245,0.498039) 0 5px 0px, rgba(245,245,245,0.498039) 0 -5px 0px, rgba(245,245,245,0.498039) 5px 5px 0px, rgba(245,245,245,0.498039) -5px -5px 0px, rgba(245,245,245,0.498039) 5px -5px 0px, rgba(245,245,245,0.498039) -5px 5px 0px, #fff 0 1px 0px, #000 3px 3px 20px, #000 3px 3px 20px;
}
#topnavbar {
    background-color: #00182c;
    color: white;
    text-shadow: 0px 1px 1px black;
    text-align: right;
    padding: 30px;
}

#topnavbar ul li {
    display: inline;
    text-align: right;
}
#topnavbar a {
    padding: 30px;
    color: white;
    text-shadow: 1px 0px 1px black;
}
#totalwrap {
    display:inline-block;
}

#containerwrap {
    background-color: white;
    display: inline-block;
    width: 70%;
}
#firstcontent {
    padding-left: 100px;
    padding: 30px;
    background: white;
    color: #171717;
    font-size: 20px;
}
#firstcontent img {
    max-width: 400px;
    max-height: 400px;
}
#firsttitle{
    padding: 30px;
    font-size: 35px;
    text-shadow: -1px -1px 0px #292929;
}
#firsttext {
    padding: 20px;
    color: #4f4f4f;
}
#secondcontent {
    padding-left: 100px;
    padding: 30px;
    background-color: #00182c;
    color: white;
}
#secondtitle{
    color: white;
    font-size: 35px;
    padding: 30px;
}
#secondtext{
    color: white;
}
#thirdcontent{
    padding-left:100px;
    padding: 30px;
    background-color:#00182c;
    color: ghostwhite;
}
#thirdtitle{
    padding:30px;
    font-size:35px;
    text-shadow: 0px 1px 0px dodgerblue;
}
#thirdtext{
    color: white;
}
#lateralright {
    padding: 30px;
    word-wrap:break-word;
    background-color: white;
    color: #292929;
    float: right;
    width: 20%;
}
#bottommenu{
    text-align: center;
    background: #292929;
    color: #909090;
}
#bottommenu ul li{
    text-align: center;
    align-content: center;
}
#bottommenu table {
    float: right;

}
#bottommenu table tr td{
    padding: 20px;
}
#bottommenu a {
    color: #404040;
    padding: 2px;
}
